<div class="container-fluid heading">
    <div class="row page-title">
        <div class="mx-auto">
            <h1 class="center" [routerLink]="['/home']" matTooltip="Click to goto home"> {{title}} </h1>
        </div>
    </div>
</div>

<i (click)="backButton()" class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>

<div class="container country-cards">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div *ngFor="let country of info" class="col-lg-4 col-md-6 col-sm-12">

            <!--Card-->
            <div [routerLink]="['/country', country.alpha2Code]" class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up aqua-gradient">
                </div>

                <!--Avatar-->
                <div class="avatar mx-auto white">
                    <img src="{{ country.flag }}" class="rounded-circle">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="card-title">{{ country.name }}</h4>
                    <hr>
                    <!--Quotation-->
                    <p> CAPITAL : {{ country.capital }}
                    </p>
                    <p> SUBREGION: {{ country.subregion }}
                    </p>
                    <span> CURRENCY: </span>
                    <span *ngFor="let currency of country.currencies; let last=last">
            {{ currency.name }} {{ currency.symbol }} {{ last ? '':', '}}
          </span>
                    <span> TIMEZONES: </span>
                    <span *ngFor="let timezone of country.timezones; let last=last;">
            {{ timezone }} {{last ? '':', '}}
          </span>
                </div>

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>