<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="language" matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option [value]="option">
                                power
                            </mat-option>
                            <mat-option [value]="option">
                                power
                            </mat-option>
                            <mat-option [value]="option">
                                power
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>

            </div>
            <div class="col-md-6 col-lg-6"></div>
            <div class="col-md-3 col-lg-3 ">
                <mat-form-field>
                    <mat-select placeholder="Currency">
                        <mat-option>None</mat-option>
                        <mat-option>1</mat-option>
                        <mat-option>2</mat-option>
                        <mat-option>3</mat-option>
                        <mat-option>4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>