<div class="home" >
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <mat-form-field>
                <mat-select placeholder="Language">
                    <mat-option>None</mat-option>
                    <mat-option>A</mat-option>
                    <mat-option>B</mat-option>
                    <mat-option>C</mat-option>
                    <mat-option>D</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-3 pull-right">
            <mat-form-field>
                <mat-select placeholder="Currency">
                    <mat-option>None</mat-option>
                    <mat-option>1</mat-option>
                    <mat-option>2</mat-option>
                    <mat-option>3</mat-option>
                    <mat-option>4</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
</div>