.card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.view .mask {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.text-center {
    text-align: center!important;
}

.card.card-cascade.wider.reverse .card-body {
    z-index: 3;
    margin-top: -4rem;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

*, ::after, ::before {
    box-sizing: border-box;
}

.view img, .view video {
    position: relative;
    display: block;
}

.card.card-cascade.wider .view {
    z-index: 2;
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.card.card-cascade.wider .card-body {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-left: 4%;
    margin-right: 4%;
    background: #fff;
    z-index: 1;
    -webkit-border-radius: 0 0 .25rem .25rem;
    border-radius: 0 0 .25rem .25rem;
}

.img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .section-blog-fw .view img, .video-fluid {
    max-width: 100%;
    height: auto;
}

.country-info-card {
    margin-top: 5em;
    background-color: transparent;
}

.center {
    display: inline;
    vertical-align: middle;
    font-size: 6rem;
    height: 5rem;     
}

img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height:400px;
}