/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

:root {
    font-size: 20px;
}

*{
    font-family: 'Amatic SC', cursive;
    line-height: 40px
}
.primary {
    background-color: #f8bbd0;
    color: #000000
}

.secondary {
    background-color: #880e4f;
    color: #ffffff
}

.p-light {
    background-color: #ffeeff;
    color: #000000
}

.p-dark {
    background-color: #c48b9f;
    color: #000000
}

.s-light {
    background-color: #bc477b;
    color: #ffffff
}

.s-dark {
    background-color: #560027;
    color: #ffffff
}

.home {
    background-image: url('./assets/images/trianglify.png');
    background-repeat: no-repeat;
    background-size: 100% 500px;
}

.center {
    display: inline;
    vertical-align: middle;
    font-size: 7rem;
    height: 7rem;      
}
/* Media query for page title */
@media screen and (max-width: 600px) {
    .center{
        display: inline !important;
        vertical-align: middle !important;
        font-size: 3rem !important;
        height: 5rem !important;
    }   
}