<!-- <mat-toolbar></mat-toolbar> -->
  <div class="container-fluid heading">
      <div class="row page-title">
          <div class="mx-auto">
              <h1 class="center">AROUND THE </h1>
              <img class="center" src="./assets/images/earth.png" alt="Icon">
          </div>
      </div>
  </div>

  <div class="container region-cards">
      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 spacing">
              <mat-card class="bg5">
                  <h2>AFRICA</h2>
              </mat-card>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 spacing">
              <mat-card class="bg7">
                  <h2>AMERICA</h2>
              </mat-card>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 spacing">
              <mat-card class="bg2">
                  <h2>ASIA</h2>
              </mat-card>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 spacing">
              <mat-card class="bg1">
                  <h2>EUROPE</h2>
              </mat-card>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 spacing">
              <mat-card class="bg6">
                  <h2>OCEANIA</h2>
              </mat-card>
          </div>

      </div>
  </div>