.bg1 {
    /* The image used */
    background-image: url("/assets/images/google1.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    /* The image used */
    background-image: url("/assets/images/google2.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    /* The image used */
    background-image: url("/assets/images/google3.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg4 {
    /* The image used */
    background-image: url("/assets/images/google4.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg5 {
    /* The image used */
    background-image: url("/assets/images/google5.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg6 {
    /* The image used */
    background-image: url("/assets/images/google6.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg7 {
    /* The image used */
    background-image: url("/assets/images/google7.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.spacing {
    margin-bottom: 12px;
    margin-top: 12px;
}



.region-cards {
    margin-top: 5em;
    font-family: 'Amatic SC', cursive;
}

.page-title {
    margin-top: 5em;
    font-family: 'Amatic SC', cursive;
}

mat-card{
    font-family: 'Amatic SC', cursive;    
}


