.bg1 {
    /* The image used */
    background-image: url("/assets/images/google1.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    /* The image used */
    background-image: url("/assets/images/google2.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    /* The image used */
    background-image: url("/assets/images/google3.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg4 {
    /* The image used */
    background-image: url("/assets/images/google4.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg5 {
    /* The image used */
    background-image: url("/assets/images/google5.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg6 {
    /* The image used */
    background-image: url("/assets/images/google6.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg7 {
    /* The image used */
    background-image: url("/assets/images/google7.jpg");
    /* Full height */
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.spacing {
    margin-bottom: 12px;
    margin-top: 12px;
}

.center {
    /* text-align: center; */
    display: inline;
    vertical-align: middle;
    font-size: 7rem;
    height: 7rem;      
    /* color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) */
}

.region-cards {
    margin-top: 5em;
}

.page-title {
    margin-top: 5em;
    font-family: 'Amatic SC', cursive;
}

/* Media query for page title */
@media screen and (max-width: 600px) {
    .center{
        display: inline;
        vertical-align: middle;
        font-size: 3rem;
        height: 5rem;
    }   
}
